In [133]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#Note: Values Included from Compustat
Company Name
Stock Exchange Code
SIC
ACT
LCT
AT
EBITDA
CEQ
NINC
DLC
DLTT
CIK

In [134]:
#reads in csv
data=pd.read_csv('Mod5.csv')

In [135]:
#makes column names more useful
data.columns=(['gvkey', 'indfmt', 'datafmt', 'consol', 'popsrc', 'fyear', 'datadate',
       'CurrentAssets', 'TotalAssets', 'TotalEquity', 'CurrentDebt', 'LTDebt', 'ebitda', 'CurrentLiabilities', 'exchg', 'NetIncome',
       'conm', 'costat', 'fic','cik', 'sic'])
#establishes total debt column
data['TotalDebt']=data['CurrentDebt']+data['LTDebt']
#filters out companies w/o CIK codes
data = data[pd.notnull(data['cik'])]
#converts cik from float to int--easier to c/p into EDGAR
data.cik=data.cik.astype(int)

In [136]:
#makes ratios
data['CurrentRatio']=data['CurrentAssets']/data['CurrentLiabilities']
data['DebtToAssets']=data['TotalDebt']/data['TotalAssets']
data['DebtToEBITDA']=data['TotalDebt']/data['ebitda']
data['AssetsToEquity']=data['TotalAssets']/data['TotalEquity']
data['ReturnOnEquity']=data['NetIncome']/data['TotalEquity']
data['ReturnOnAssets']=data['NetIncome']/data['TotalAssets']

In [137]:
#table w/ just ratios
ratios=data[['conm','fyear','CurrentRatio','DebtToAssets','DebtToEBITDA','AssetsToEquity','ReturnOnEquity','ReturnOnAssets']]

In [138]:
#chooses year
ratios2015=ratios[ratios.fyear==2015][['conm','CurrentRatio','DebtToAssets','DebtToEBITDA','AssetsToEquity','ReturnOnEquity','ReturnOnAssets']].set_index('conm')
#summary stats
summary=ratios2015.describe()

In [139]:
#displays summary statistics
summary

,CurrentRatio,DebtToAssets,DebtToEBITDA,AssetsToEquity,ReturnOnEquity,ReturnOnAssets
count,38.000000,38.000000,38.000000,38.000000,1.000000,1.000000
mean,2.076250,0.450360,-2.594385,1.532300,0.002888,0.001938
std,1.907342,0.610104,15.507595,4.506657,NaN,NaN
min,0.006012,0.000000,-71.867250,-21.513143,0.002888,0.001938
25%,1.085720,0.165887,-0.576090,1.323586,0.002888,0.001938
50%,1.640455,0.361521,0.754459,2.157869,0.002888,0.001938
75%,2.433955,0.540118,3.727194,2.959510,0.002888,0.001938
max,10.783467,3.761293,13.078313,8.299592,0.002888,0.001938

In [152]:
#goes through companies with max ratios, good for identifying outliers
for i in summary.columns:
    print("Company With The Highest:"+" "+i)
    print()
    print(ratios2015.sort_values(i,ascending=False).iloc[0])
    print()

Company With The Highest: CurrentRatio

CurrentRatio      10.783467
DebtToAssets       0.321866
DebtToEBITDA      -1.599461
AssetsToEquity     2.597971
ReturnOnEquity          NaN
ReturnOnAssets          NaN
Name: AUSTEX OIL LTD, dtype: float64

Company With The Highest: DebtToAssets

CurrentRatio       0.006012
DebtToAssets       3.761293
DebtToEBITDA     -53.300761
AssetsToEquity    -0.065112
ReturnOnEquity          NaN
ReturnOnAssets          NaN
Name: OLEO E GAS PART SA, dtype: float64

Company With The Highest: DebtToEBITDA

CurrentRatio       0.799746
DebtToAssets       0.399105
DebtToEBITDA      13.078313
AssetsToEquity     4.697467
ReturnOnEquity          NaN
ReturnOnAssets          NaN
Name: SAIPEM SPA, dtype: float64

Company With The Highest: AssetsToEquity

CurrentRatio      0.579256
DebtToAssets      0.748026
DebtToEBITDA      6.066019
AssetsToEquity    8.299592
ReturnOnEquity         NaN
ReturnOnAssets         NaN
Name: NORTH ATLANTIC DRILLING LTD, dtype: float64

Company With The Highest: ReturnOnEquity

CurrentRatio      3.084493
DebtToAssets      0.169701
DebtToEBITDA      1.533137
AssetsToEquity    1.489942
ReturnOnEquity    0.002888
ReturnOnAssets    0.001938
Name: INPEX CORP, dtype: float64

Company With The Highest: ReturnOnAssets

CurrentRatio      3.084493
DebtToAssets      0.169701
DebtToEBITDA      1.533137
AssetsToEquity    1.489942
ReturnOnEquity    0.002888
ReturnOnAssets    0.001938
Name: INPEX CORP, dtype: float64

Let's choose the companies with the max ratios in Current Ratio, Debt to Assets, and Debt to EBITDA. It's probably best to avoid the latter two ratio due to small n.
That would be AUSTEX OIL LTD, with the highest Current Ratio of 10.8, OLEO E GAS PART SA, with the highest Debt to Assets Ratio of  3.7, and SAIPEM SPA, with the highest Debt to EBITDA ratio of 13.1

In [148]:
#list of companies to investigate
companies=['AUSTEX OIL LTD','OLEO E GAS PART SA','SAIPEM SPA']

In [151]:
#returns CIK for companies to investigate:
for company in companies:
    print(data[data.fyear==2015].set_index('conm')['cik'].loc[company])

1525199
1595225
1062750

Each company appears to be a  filer with extremely limited reports--none from 2015, and none of the typical forms I would expect (eg 10-K, 10-Q). This is largely a mystery!